@import url('https://fonts.googleapis.com/css2?family=Emblema+One&family=Playwrite+IT+Moderna:wght@100..400&display=swap');
#h01{
   padding: 0px;
   text-align: start;
   margin: 0px 10px 20px 5px;
   padding: 20px 20px 20px 5px;
}
#I01{
   text-align: start;
   size: 100%;
   border-color: #c5c7cb;
   border-radius: 5px;
   width: 300px;
   padding: 10px 0px 20px 5px;
}
#I01:focus{
   padding: 0px;
   border-color: #0b57d0;
   text-align: start;
   size: 100%;
   width: 300px;
   padding: 10px 0px 20px 5px;
}

.box {
   border: 1px solid rgb(255, 255, 255);
   background-color:#fff;
   border-radius: 20px;
   padding: 10px;
   margin: auto;
   margin-left: 300px;
   margin-right: 300px;
   margin-top: 100px;
   box-shadow: 2px;
 }
 #p01{
   text-align: start;
   margin: 0px 10px 20px 5px;
 }
 #p02{
   margin-top: 50px;
   text-align: center;
   margin: 0px 10px 20px 5px;
 }
 #p03{
   margin-top: 50px;
   text-align: start;
   margin: 10px 10px 20px 5px;
   padding: 10px 10px 20px 5px;
 }
 #B01{
   color: rgb(249, 249, 249);
   width: 100px;
   margin-top: 50px;
   text-align: start;
   text-align: center;
   border-radius: 20px;
   background-color: #0b57d0;
   margin: 10px 10px 20px 5px;
   padding: 10px 10px 20px 5px;
 }
 #B01:hover{
   color: rgb(52, 42, 190);
   width: 100px;
   margin-top: 50px;
   text-align: start;
   text-align: center;
   border-radius: 20px;
   background-color: #08be69;
   margin: 10px 10px 20px 5px;
   padding: 10px 10px 20px 5px;
 }
 #B01:active{
   text-transform: capitalize;
   color: rgb(227, 57, 111);
   width: 100px;
   margin-top: 50px;
   text-align: center;
   border-radius: 20px;
   background-color: #d9e712;
   margin: 10px 10px 20px 5px;
   padding: 10px 10px 20px 5px;
 }
 #p04{
   margin-top: 50px;
   text-align: start;
   color: blue;
   margin: 0px 10px 20px 5px;
 }
 #p05{
   margin-top: 0px;
   text-align: start;
   color: blue;
   
 }
 #p06{
   font-size: smaller;
   margin-top: 0px;
   text-align: start;
   
 }
 .box2 {
   width: 400px;
   height: 50px;
   border: 1px solid black;
   background-color: rgb(255, 255, 255);
   border-radius: 10px;
 }
 .box3 {
   align-self: self-start;
   width: 100px;
   height: 50px;
   background-color: rgb(62, 166, 231);
   border-radius: 50px;
   margin-left: 0px;
 }
 .box4 {

   margin-left: 0px;
   position: relative;
   top: 10px;
   left: 900px;
 }
 #mainbody{
   background-color: #f0f4f9;
 }
 #icon{
   margin-left: 10px;
   margin-right: 2px;
   margin-top: 2px;
 }
 *{
   margin: 0px;
 }
 @media (min-width:900px) {
   #box{
       background-color: rgb(60, 148, 22);
   }
}
